body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
	background-color: #21282e;
	font-family: lletra;
	margin: 0;
}

@font-face {
	font-family: lletra;
	src: url(fonts/lletra.ttf);
}

@font-face {
	font-family: logo;
	src: url(fonts/logo.ttf);
}

article {
	padding: 5px;
	order: 2;
	flex-basis: 50%;
	flex: 20%;
}

.caixa {
	display: flex;
	height: 60%;
	width: 380px;
	position: relative;
}

.pal {
	width: 100%;
	background: orange;
	border: 1px solid darkorange;
	border-collapse: collapse;
	border-radius: 40px;
	display: flex;
	justify-content: center;
}

.pal b, .moure b {
	position: absolute;
	margin-top: 20%;
	color: black;
	font-family: lletra;
	text-align: center;
}

#puntuacio {
	color: darkorange;
	padding-left: 10px;
}

#notestext {
	color: darkorange;
	margin-top: 15%;
	text-align: center;
}

.moure {
	transition: 0.2s;
	transform: translate(0, 15px);
	width: 100%;
	background: darkorange;
	border: 1px solid black;
	border-collapse: collapse;
	border-radius: 40px;
	display: flex;
	justify-content: center;
}

.dot {
	height: 30px;
	width: 45px;
	background-image: linear-gradient(darkorange, rgb(179, 98, 0));
	border-radius: 50%;
	display: inline-block;
}

.cinta {
	width: 100%;
	height: 5%;
	background: darkred;
	position: absolute;
	margin-top: 12%;
	z-index: 1;
}

#do:active,
#re:active,
#mi:active,
#fa:active,
#sol:active,
#la:active,
#si:active,
#doa:active {
	transform: translate(0, 15px);
	transition: all 0.2s;
	background-color: darkorange;
	border-color: black;
}

#re {
	height: 90%;
}

#mi {
	height: 80%;
}

#fa {
	height: 70%;
}

#sol {
	height: 60%;
}

#la {
	height: 50%;
}

#si {
	height: 40%;
}

#doa {
	height: 30%;
}

header,
footer {
	display: flex;
	padding: 5px;
	min-height: 100px;
	top: 0%;
}

header {
	background-image: linear-gradient(to right, rgba(47, 54, 60, 1), rgba(47, 54, 60, 0) 70%);
	margin-bottom: 5px;
	justify-content: center;
}

footer {
	background-color: rgb(47, 54, 60);
	align-items: center;
	justify-content: center;
}

.header h1 {
	font-family: logo;
	margin: 0;
	font-size: 60px;
	color: darkorange;
}

#main {
	min-height: 400px;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-flow: row;
}

nav {
	padding: 5px;
	background: #698571;
	order: 0;
	background-color: #21282e;
}

aside {
	display: flex;
	background-color: #21282e;
	order: 3;
	flex-basis: 50%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.comencar {
	background-color: darkorange;
	border-radius: 28px;
	cursor: pointer;
	color: black;
	font-family: lletra;
	font-weight: bold;
	font-size: 17px;
	padding: 16px 31px;
	border: 1px solid darkorange;
}

.fletxas{
	width: 25px;
}

footer .comencar {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: inline-block;
	padding: 0;
}

.comencar:hover {
	background-color: #d66a00;
	border-color: #d66a00;
}

.comencar:active {
	transform: scale(0.9, 0.9);
	transition: 0.1s;
}

#notes {
	height: 100px;
	width: 300px;
	background-color: #1a2024;
	position: relative;
	margin-bottom: 5%;
	text-align: center;
}

#nomcanco {
	font-size: 25px;
}

.notesbe {
	border: 1px solid green;
}

.notesmalament {
	border: 1px solid red;
}

h4,
p {
	padding-left: 10px;
	color: darkorange;
}

input[type="text"] {
	background: transparent;
	border-bottom: 1px solid darkorange;
	border-top: transparent;
	border-left: transparent;
	border-right: transparent;
	display: block;
	padding: 10px;
	color: darkorange;
	padding-bottom: 1px;
	margin-left: 10px;
}

*:focus {
	outline: none;
}

#perfil {
	border-radius: 50%;
}

select {
    background: #21282e;
    color: darkorange;
    font-size: 17px;
    border: 1px solid;
    -webkit-appearance: button;
    width: 200px;
    height: 50px;
    text-align: center;
    margin-left: 1%;
	margin-right: 1%;
}

/* MOBILE */

@media screen and (max-width: 480px) {
	#main {
		flex-flow: column;
		align-items: center;
	}
}


/* SMARTPHONE AND TABS */

@media screen and (min-width: 481px) and (max-width: 1023px) {
	#main {
		flex-flow: row;
		flex-wrap: wrap;
	}
	nav {
		flex-basis: 0%;
	}
	aside{
		flex-basis: 100%;
	}
}


/* DESKTOP */

@media screen and (min-width: 1024px) {}