//Declaració de variables i fonts:

$colorcinta: darkred;
$colorfons: #21282e;
$colorpal: orange;
$colorforat: darkorange;
$colorheadfoot: #2F363C;

@font-face{
	font-family: lletra;
	src:url(lletra.ttf);
}

@font-face{
	font-family: logo;
	src:url(logo.ttf);
}

//MIXINS

@mixin HeaderFooter {
    display: block;
	padding: 5px;
	min-height: 100px;
	top: 0%;
}

@mixin NavAside {
    padding: 5px;
	background-color: $colorfons;
	flex: 1 6 20%;
}

@mixin PalMoure {
	position: absolute;
	margin-top: 20%;
	color: black;
	font-family: lletra;
	text-align: center;
}

//--------------------------------------------------

body {
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
	background-color: $colorfons;
	font-family: lletra;
	margin: 0;
}

article {
	padding: 5px;
	order: 2;
	flex-basis: 50%;
	flex: 20%;
}

.caixa {    //Conté tots els pals (caixa invisible)
	display: flex;
	height: 60%;
	width: 380px;
	position: relative;
}

.pal {
	width: 100%;
	background: $colorpal;
	border: 1px solid darkorange;
	border-collapse: collapse;
	border-radius: 40px;
	display: flex;
	justify-content: center;

	b{
		@include PalMoure;
	}
}

.dot {  //forat de cada pal
    height: 30px;
    width: 45px;
    background-color: $colorforat;
    border-radius: 50%;
    display: inline-block;
}

.cinta {
	width: 100%;
	height: 5%;
	background: $colorcinta;
	position: absolute;
	margin-top: 12%;
	z-index: 1;
}

#puntuacio {
	color: darkorange;
	padding-left: 10px;
}

#notestext {
	color: darkorange;
	margin-top: 15%;
	text-align: center;
}

//Animació al clicar

#do:active, #re:active, #mi:active, #fa:active, #sol:active, #la:active, #si:active, #doa:active {
	transform:translate(0,15px);
    transition: all 0.2s;
    background-color:darkorange;
    border-color:black;
}

//Mida dels pals

#re {
	height: 90%;
}
#mi {
	height: 80%;
}
#fa {
	height: 70%;
}
#sol {
	height: 60%;
}
#la {
	height: 50%;
}
#si {
	height: 40%;
}
#doa {
	height: 30%;
}

header{
    background-image: linear-gradient(to right, rgba(47,54,60,1), rgba(47,54,60,0) 70%);
    @include HeaderFooter;
    h1 {
        font-family: logo;
        margin: 0;
        font-size: 40px;
        color: $colorforat;
    }
}

footer{
    background-color: $colorheadfoot;
	@include HeaderFooter;
	.comencar {
		border-radius: 50%;
		width: 50px;
		height: 50px;
		display: inline-block;
		padding: 0;
	}
}

//Input transparent:

input[type="text"] {
    background: transparent;
    display: block;
	padding: 10px;
	color: $colorforat;
    padding-bottom: 1px;
    border: {
        bottom: 1px solid darkorange;
        top: transparent;
        left: transparent;
        right: transparent;
    }
}

#main{
	min-height: 400px;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-flow: row;
}

.moure{
	transition: 0.2s;
	transform:translate(0,15px);
	width: 100%;
	background: $colorforat;
	border: 1px solid black;
	border-collapse: collapse;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	b {
		@include PalMoure;
	}
}

nav {
	@include NavAside;
    order: 0;
}

aside {
	@include NavAside;
	order: 3;
	flex-basis: 50%;
}

h4, p{
	padding-left: 10px;
	color: $colorforat;
}

.comencar {
	background-color: darkorange;
	border-radius: 28px;
	cursor: pointer;
	color: black;
	font-family: lletra;
	font-weight: bold;
	font-size: 17px;
	padding: 16px 31px;
	border: 1px solid darkorange;
	&:hover{
		background-color: #d66a00;
		border-color: #d66a00;
	}
	&::active{
		transform: scale(0.9, 0.9);
		transition: 0.1s;
	}
}

.fletxas{
	width: 25px;
}

#notes {
	height: 100px;
	width: 300px;
	background-color: #1a2024;
	position: relative;
	margin-bottom: 5%;
	text-align: center;
}

#nomcanco {
	font-size: 25px;
}

.notesbe {
	border: 1px solid green;
}

.notesmalament {
	border: 1px solid red;
}

*:focus {
	outline: none;
}

#perfil {
	border-radius: 50%;
}

select {
    background: #21282e;
    color: darkorange;
    font-size: 17px;
    border: 1px solid;
    -webkit-appearance: button;
    width: 200px;
    height: 50px;
    text-align: center;
    margin-left: 1%;
	margin-right: 1%;
}

/* SMARTPHONE AND TABS */

@media screen and (min-width: 481px) and (max-width: 1023px) {
	#main {
		flex-flow: row;
		flex-wrap: wrap;
	}
	nav {
		flex-basis: 0%;
	}
	aside{
		flex-basis: 100%;
	}
}


/* DESKTOP */

@media screen and (min-width: 1024px) {}
